<div class="loggedInUser">
Welcome {{loggedInUser}}
</div>
<div class="background">
<form (submit)="payloadSubmit($event)">
<div>
<label class="selectleftlabel">Environments</label>
<select class="selectleft">
<option *ngFor="let env of environments">{{env.Name}}</option>
</select>
<label class="selectrightlabel">Infrastructure</label>
<select class="selectright">
<option *ngFor="let infra of infras">{{infra.Name}}</option>
</select>
<input type="text" class="requestarea" name="request">
</div> 
<div>
<label class="selectleftlabel">Clients</label>
<select class="selectleft">
<option *ngFor="let client of clients">{{client.Name}}</option>
</select>
<label class="selectrightlabel">API Services</label>
<select class="selectright">
<option *ngFor="let service of services">{{service.Name}}</option>
</select>
</div>
<br>
<br>
<button type="submit" class="submit">Submit</button>
</form>
</div>

<div>
<input type="text" class="responsearea" disabled name="response" value="{{outputResponse}}">
</div>