<div class="loggedInUser">
Welcome {{loggedInUser}}
</div>
<div class="background">
<form (submit)="payloadSubmit($event)">
<div>
<label class="selectleftlabel">Environment</label>
<select class="selectleft">
<option *ngFor="let env of environments">{{env.Name}}</option>
</select>
<label class="selectrightlabel">Infrastructure</label>
<select class="selectright">
<option *ngFor="let infra of infras">{{infra.Name}}</option>
</select>
<input type="text" class="requestarea" name="request">
</div> 
<div>
<label class="selectleftlabel">Client</label>
<select class="selectleft">
<option *ngFor="let client of clients">{{client.Name}}</option>
</select>
<label class="selectrightlabel">Environment Version</label>
<select class="selectright">
<option *ngFor="let route of routeVersion">{{route.Name}}</option>
</select>
<input type="text" class="requestarea" disabled name="response" value="{{outputResponse}}">
</div> 
<div>
<label class="selectleftlabel">Response Format</label>
<select class="selectleft">
<option *ngFor="let format of formats">{{format.Name}}</option>
</select>
<label class="selectrightlabel">API Service</label>
<select class="selectright">
<option *ngFor="let service of services">{{service.Name}}</option>
</select>
</div>
<br>
<br>
<button type="submit" class="submit">Submit</button>
</form>
</div>